Bible Verses
------
**What it does**: Counts number of references to a Bible Verse, given by "##:##" (ex. John **3:16**) and captured by the regular expression `\d+\:\d+`.

**Strengths**: 

**Weaknesses**: 

**Hyperparameters**:  None

In [22]:
import pandas as pd

In [15]:
sts_gold = pd.read_csv('../data/sts_gold_v03/sts_gold_tweet.csv', index_col='id', sep=';')

In [16]:
sts_gold.head()

            polarity                                              tweet
id
1467933112         0  the angel is going to miss the athlete this we...
2323395086         0  It looks as though Shaq is getting traded to C...
1467968979         0     @clarianne APRIL 9TH ISN'T COMING SOON ENOUGH
1990283756         0  drinking a McDonalds coffee and not understand...
1988884918         0  So dissapointed Taylor Swift doesnt have a Twi...

In [17]:
f_bible = sts_gold['tweet'].str.count(r'\d+\:\d+')
f_bible.name = 'ct_bible'

#sanity check
print(f_bible.shape, f_bible.mean(), f_bible.std(), f_bible.max())

(2034,) 0.00688298918387414 0.08269810138190721 1

### Feature Evaluation

In [23]:
from sklearn.cross_validation import cross_val_score
from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.svm import SVC
from sklearn.preprocessing import Binarizer, StandardScaler
from sklearn.dummy import DummyClassifier

In [24]:
models = [('DUMMY', DummyClassifier(strategy='most_frequent')),
          ('mNB' , MultinomialNB()),
          ('bNB' , BernoulliNB()),
          ('svc' , SVC())]

In [25]:
print('{0}\t{1:<1}\t{2:<4}\t{3:<4}'.format("MODEL", "MEAN CV", "MIN CV", "MAX CV"))

for name, model in models:    
    X, Y = f_bible.reshape(-1, 1), (sts_gold['polarity'] == 4).ravel()
    
    if name == 'bNB':
        binarize = Binarizer()
        X = binarize.fit_transform(X)
    elif name == 'svc':
        ss = StandardScaler()
        X = ss.fit_transform(X)
        
    cv = cross_val_score(model, X, Y, cv=5, scoring='accuracy')
    
    print('{0}\t{1:<3}\t{2:<4}\t{3:<4}'.format(name, round(cv.mean(), 4), round(cv.min(), 4), round(cv.max(), 4)))

MODEL	MEAN CV	MIN CV	MAX CV
DUMMY	0.6893	0.6887	0.6897
mNB	0.6893	0.6887	0.6897
bNB	0.6893	0.6887	0.6897
svc	0.6893	0.6887	0.6897

/Users/pbaumgartner/anaconda/lib/python3.5/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/pbaumgartner/anaconda/lib/python3.5/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)