Bag of Words
------

In [18]:
from collections import OrderedDict
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
sts_gold = pd.read_csv('../data/sts_gold_v03/sts_gold_tweet.csv', index_col='id', sep=';')

In [20]:
sts_gold.head()

            polarity                                              tweet
id
1467933112         0  the angel is going to miss the athlete this we...
2323395086         0  It looks as though Shaq is getting traded to C...
1467968979         0     @clarianne APRIL 9TH ISN'T COMING SOON ENOUGH
1990283756         0  drinking a McDonalds coffee and not understand...
1988884918         0  So dissapointed Taylor Swift doesnt have a Twi...

In [21]:
tweets = sts_gold['tweet']

In [27]:
cv = CountVectorizer(ngram_range=(1,1), min_df=3)
bow = cv.fit_transform(tweets)

# use below if you need a data frame
bow_df = pd.DataFrame(bow.toarray(), index=tweets.index, columns=cv.get_feature_names())

In [28]:
bow_df.head()

,10,100,101,12,13,14,15,1st,20,24,...,yeah,year,years,yep,yes,yesterday,yet,you,your,youtube
id,,,,,,,,,,,,,,,,,,,,,
1467933112,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2323395086,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1467968979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1990283756,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1988884918,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
from sklearn.cross_validation import cross_val_score
from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.svm import SVC
from sklearn.preprocessing import Binarizer, StandardScaler
from sklearn.dummy import DummyClassifier

In [30]:
models = [('DUMMY', DummyClassifier(strategy='most_frequent')),
          ('mNB' , MultinomialNB()),
          ('bNB' , BernoulliNB()),
          ('svc' , SVC())]

In [31]:
for name, model in models:
    X, Y = bow, (sts_gold['polarity'] == 4).ravel()
    if name == 'bNB':
        binarize = Binarizer()
        X = binarize.fit_transform(X)
    elif name == 'svc':
        ss = StandardScaler()
        X = ss.fit_transform(X.toarray())
    print(name + ":\t", cross_val_score(model, X, Y).mean())

DUMMY:	 0.689282477424
mNB:	 0.839711390525
bNB:	 0.84020521123
svc:	 0.751724743038

/Users/pbaumgartner/anaconda/lib/python3.5/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/pbaumgartner/anaconda/lib/python3.5/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)